<div class="container">
	<div class="row">

		<div class="col-xs-12">

		<h1>メッセージ一覧</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th colspan="1"></th>
						<th>ユーザ</th>
						<th>タイトル</th>
						<th colspan="1"></th>
					</tr>
				</thead>
				<tbody>
				<% @messages.each do |message| %>
					<tr>
						<td class="warning"><%= attachment_image_tag message.user,:image, :fill, 60, 60, format: 'jpeg',fallback: "/images/no_image.jpg", :size => "60x60" %></td>
						<td class="warning"><%= message.user.name %></td>
						<td class="warning"><%= message.title %></td>
						<td class="warning"><%= link_to "メッセージ詳細",message_path(message.id),class:"click-action-mini" %>
					</tr>
				<% end %>
				</tbody>
			</table>

		<div class="paginate">
		<%= paginate @messages %>
		</div>
		<%=link_to "戻る",admin_home_path,class:"click-action" %>

		</div>

	</div>
</div>


