<% if flash[:notice] %>
	<p class="alert alert-warning"><%= flash[:notice] %></p>
<% end %>

<h1>My Page</h1>

<div class="container">
	<div class="row">
		<div class="input-form">
	    	<section id="content">

				<h1>My Profile</h1>

					<%= link_to user_path(@user.id) do %>
						<%= attachment_image_tag @user,:image, :fill, 250, 250, format: 'jpeg',fallback: "/images/no_image.jpg", :size => "250x250" %>
					<% end %>
					<h3>ユーザ名</h3>
						<p><%= @user.name %></p>
					<h3>カナ</h3>
						<p><%= @user.name_kana %></p>
					<h3>ニックネーム</h3>
						<p><%= @user.nickname %></p>
					<h3>性別</h3>
						<p>
						<% if @user.sex == 0 %>
						男性
						<% else %>
						女性
						<% end %>
						</p>
					<h3>生年月日</h3>
						<p><%= @user.birth.to_s[0..3] %>年<%= @user.birth.to_s[4..5] %>月<%= @user.birth.to_s[6..7] %>日</p>

					<br>

			</section>
		</div>
	</div>

	<br>
	<br>
	<br>

	<% if @user.id == current_user.id %>

	<div class="row">
		<div class="col-lg-4">
		<%= link_to "個人情報を編集",edit_user_path(@user),class:"click-mypage" %>
		</div>

		<div class="col-lg-4">
		<%= link_to "メッセージを送る",new_message_path,class:"click-mypage" %>
		</div>

		<div class="col-lg-4">
		<%= link_to "戻る",user_habits_path,class:"click-mypage" %>
		</div>
	</div>

	<% end %>

</div>