<div class="container">
	<div class="row">

		<h1>活動記録一覧</h1>


		<% if @records.exists? %>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>登録日</th>
						<th>活動日</th>
						<th>活動時間</th>
						<th colspan="1"></th>
						<th colspan="1"></th>
					</tr>
				</thead>
				<tbody>
				<% @records.each do |f| %>
					<tr>
						<td class="warning"><%= f.created_at.strftime("%Y-%m-%d %H:%M")  %></td>
						<td class="warning"><%= f.date  %></td>
						<td class="warning"><%= f.challenge_time %>分</td>
						<td class="success"><%= link_to "編集", edit_user_habit_record_path(@user_habit,f.id),class:"click-green-mini" %></td>
						<td class="danger"><%= link_to "削除", user_habit_record_path(@user_habit,f.id),class:"click-danger-mini", method: :delete,data: { confirm: '削除してもよろしいですか？'} %></td>
					</tr>
				<% end %>
				</tbody>
			</table>

			<div class="paginate">
			<%= paginate @records %><br>
			</div>

		<% else %>

		<h3>まだ記録がありません。</h3>

		<% end %>

	</div>
</div>
