<div class="container">
	<div class="row">
		<div class="input-form">
      		<section id="content">

			<h1>投稿編集</h1>

			<br>

			<%= form_for(@chat, :url => {controller: "chats",method: "patch",action: "update"}) do |f| %>
				<%= f.text_area :text,class:"", size: "40x3", required:true %><br><br>
				<%= f.submit '投稿を編集する',class:"" %><br><br>
			<% end %>

			<%= link_to "削除する", habit_chat_path(@chat),class:" click-danger", method: :delete,data: { confirm: '本当に削除してもよろしいですか？'} %>
			<%= link_to "戻る",habit_chats_path(@chat.habit_id),class:"click-action" %>

			</section>
		</div>
	</div>
</div>
