<% if flash[:notice] %>
  <p class="alert alert-warning"><%= flash[:notice] %></p>
<% end %>

<h3>習慣名</h3>
<h1><%= @habit.name %></h1>

<h3>トップ画像</h3>
<%= attachment_image_tag @habit, :back_image, :fill, 1200, 450,class:"habit_image_main " %>

<div class="top-text">
<br>
<p>サブタイトル</p>
</div>
<p class="sign"><%= @habit.sub_title %></p>

<br>
<br>
<br>
<div class="container">
    <div class="row">

        <div class="col-xs-6 article-left">
        <h3>習慣紹介画像１</h3>
        <%= attachment_image_tag @habit, :image_a, :fill, 550, 370,class:"habit-image-show-1" %>
        </div>

        <div class="col-xs-6 article-right top-text">
        <h3>小見出し１</h3>
        <h2><%= @habit.subheading_a %></h2>
        <h3>習慣紹介１</h3>
        <p><%= @habit.instruction_a %></p>
        </div>

    </div>

<br>
<br>

    <div class="row">

        <div class="col-sm-6 article-left top-text">
        <h3>小見出し２</h3>
        <h2><%= @habit.subheading_b %></h2>
        <h3>習慣紹介２</h3>
        <p><%= @habit.instruction_b %></p>
        </div>

        <div class="col-sm-6 article-left">
        <h3>習慣紹介画像２</h3>
        <%= attachment_image_tag @habit, :image_b, :fill, 580, 385,class:"habit-image-show-2" %>
        </div>

    </div>

<br>
<br>

    <div class="row">
        <div class="col-sm-6">
   		    <%= link_to "習慣を編集",edit_habit_path(@habit),class:"click-action" %>
   		  </div>
   		  <div class="col-sm-6">
   		    <%= link_to "習慣を削除",habit_path(@habit),class:"click-danger", method: :delete,data: { confirm: '本当に削除してもよろしいですか？'} %>
   		  </div>
   	</div>

</div>