<!DOCTYPE html>
<html>
  <head>
    <title>Habits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
      <div class="container col-xs-12">
        <div class="navbar navbar col-xs-12">
          <nav class="nav navbar-nav navbar-left text-muted">
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">

              <% if user_signed_in? %>

                <li class="">
                <%= link_to " 当サイトについて",class: "home glyphicon glyphicon-home" %>
                </li>

                <li class="">
                <%= link_to " マイページ",mypage_path(current_user.id), class: "users glyphicon glyphicon-user" %>
                </li>

                <li class="">
                <%= link_to " 購入カート",class: "carts glyphicon glyphicon-shopping-cart" %>
                </li>

                <li class="">
                <%= link_to " ログアウト",destroy_user_session_path, method: :delete, class: "logout glyphicon glyphicon-log-out" %>

              <% else %>

                <li class="">
                <%= link_to " 当サイトについて",class: "home glyphicon glyphicon-home" %>
                </li>

                <li class="">
                <%= link_to " ログイン",new_user_session_path,class: "sign_in glyphicon glyphicon-log-in" %>
                </li>

              <% end %>

            </ul>
          </nav>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-2">
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
