<!DOCTYPE html>
<html>
  <head>
    <title>Habits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <div class="bkRGBA wrapper">
    <header>
    <h1 class="headline">
      <%= link_to "Our Habits",top_path,class: "" %></li>
    </h1>
  </header>

  <nav>
    <ul class="nav-list">

      <% if user_signed_in? %>

      <li class="nav-list-item button">
      <%= link_to "Home",user_habits_path,class: "" %></li>
      <li class="nav-list-item button">
      <%= link_to "About",users_about_path,class: "" %></li>
      <li class="nav-list-item button">
      <%= link_to "My Page",mypage_path(current_user.id), class: "" %></li>
      <li class="nav-list-item button">
      <%= link_to "Logout",destroy_user_session_path, method: :delete, class: "" %></li>

      <% else %>

      <li class="nav-list-item button">
      <%= link_to "About",users_about_path,class: "" %></li>
      <li class="nav-list-item button">
      <%= link_to "Login",new_user_session_path,class: "" %></li>

      <% end %>

    </ul>
  </nav>


    <%= yield %>

    <footer class="footer">
    <p class="footer-text">© All rights recerved by Infratop.Inc.</p>
    </footer>
  </div>
  </body>
</html>
