<!DOCTYPE html>

<html>
  <head>
    <title>OurHabits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>
    <div class="filter wrapper">

    <header>

    <nav class="logo navbar-nav navbar-left text-muted">
      <%= link_to "Our Habits",top_path,class: "logo" %></li>
    </nav>

    <nav>
    <ul class="nav-list navbar-right text-muted">

      <% if user_signed_in? %>

        <li class="nav-list-item button">
        <%= link_to "My Challenge",user_habits_path,class: "nav-list-item" %></li>

        <li class="nav-list-item button">
        <%= link_to "About",users_about_path,class: "nav-list-item" %></li>

        <li class="nav-list-item button">
        <%= link_to "Logout",destroy_user_session_path, method: :delete, class: "nav-list-item" %></li>

      <% elsif admin_signed_in? %>

      <li class="nav-list-item button">
      <%= link_to "Top",admin_home_path, class: "nav-list-item" %></li>

      <li class="nav-list-item button">
      <%= link_to "Logout",destroy_admin_session_path, method: :delete, class: "nav-list-item" %></li>

      <% else %>

      <li class="nav-list-item button">
      <%= link_to "About",users_about_path,class: "nav-list-item" %></li>

      <li class="nav-list-item button">
      <%= link_to "Login",new_user_session_path,class: "nav-list-item" %></li>

      <% end %>

    </ul>
    </nav>

    </header>

        <%= yield %>

    <footer class="footer">
      <p class="footer-text">© All rights recerved by KDK Ltd.</p>
    </footer>

    </div>

  </body>
</html>
